.auth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    background-color: #f4f4f9;
  }
  
  .auth-image {
    background-image: url('../../assets/projects-3.avif');
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
  }
  
  .auth-right-cont {
    width: 50%;
    padding: 20px;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }
  
  .logo-img.rel {
    right: 20px;
    top: 20px;
    position: absolute;
  }
  
  .auth-head {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .form-container {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    height: 55%;
    width: 70%;
    margin: 30px auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-container label {
    align-self: flex-start;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  
  .form-container input:focus {
    border-color: #008000;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
  }
  
  .form-container button {
    background-color: #008000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .form-container button:hover {
    background-color: #006400;
  }
  
  .forgot-password {
    color: #008000;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .forgot-password:hover {
    color: #006400;
  }
  
  @media (max-width: 768px) {
    .auth-container {
      flex-direction: column;
    }
  
    .auth-image {
      display: none;
    }
  
    .auth-right-cont {
      width: 80%;
      height: auto;
    }
  }
  