.services4-image-section{
    background-image: url('../../assets/services-bg.jpg');
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.services4-head{
    font-size: 50px;
    color: green;
}
.service4-head2{
    font-size: 25px;
    color: black;
}
.services4-content-img-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap:50px;

}
.services4-content-img-left-section{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 5%;
}
.services4-content-img-right-section{
    width: 50%;
    background-image: url('../../assets/service4.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}
.service4-para{
    font-size: 20px;
    color: rgb(102,102,102);
    line-height: 1.5;
}
.service4-para2{
    font-size: 20px;
    color: rgb(102,102,102);
    line-height: 1.5;
    width: 90%;
    margin: 60px auto;
}
.no-space{
    margin: 0;
}

.service4-list-cont{
    width: 90%;
    margin: 0px auto;  
    margin-bottom: 100px;
}

.service4-img{
    height: 300px;
    margin: 40px auto;
}