.footer {
    background-color: #f2f2f2;
    color: black;
    padding: 40px 60px;
    font-family: Arial, sans-serif;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }
  
  .footer-section {
   width: 25%;
  }
  
  .footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
  }
  
  .footer-address {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .footer-icons {
    display: flex;
    gap: 10px;
  }
  
  .footer-icon {
    height: 30px;
    cursor: pointer;
    
  }
  
  
  .footer-head {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
 .footer-para{
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0;
    cursor: pointer;
    color: rgb(66,66,69);
  }
  
  
  
  .subscribe-box {
    display: flex;
    align-items: center;
    background-color: #222;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .subscribe-box input {
    flex: 1;
    border: none;
    padding: 10px;
    background: none;
    color: #fff;
  }
  
  .subscribe-box input::placeholder {
    color: #bbb;
  }
  
  .subscribe-btn {
    background-color: #27ae60;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .subscribe-btn svg {
    color: white;
    font-size: 16px;
  }
  
  .terms {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .terms input {
    margin-right: 8px;
  }
  
  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #222;
    padding-top: 5px;
    width: 100%;
  }
  
  .footer-links a {
    color: rgb(66,66,69);
    text-decoration: none;
    margin-left: 15px;
  }
  
 

  .footer-non-link{
    color:rgb(110, 110, 115);
  }
  